eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:9999/eureka
      
  instance:
    prefer-ip-address: true
      
microservice:
   main-service:
      endpoints:
         endpoint:
            uri: http://MAIN-SERVICE/api/text
            
   user-service:
      endpoints:
         endpoint:
            uri: http://USER-SERVICE/api/text
            
   guestbook-service:
      endpoints:
         endpoint:
            uri: http://GUESTBOOK-SERVICE/api/text
            
   board-service:
      endpoints:
         endpoint:
            uri: http://BOARD-SERVICE/api/text
            
   admin-service:
      endpoints:
         endpoint:
            uri: http://ADMIN-SERVICE/api/text
